/* h1 {
  color: orange;
  background-color: slategray;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  text-decoration: underline;
}

p {
  color: slategray;
  text-align: right;
  line-height: 30px;
  letter-spacing: 3px;
  column-count: 3;
  column-gap: 30px;
}

ul {
  border-left: 4px solid purple;
  border-bottom: 8px dashed purple;
}

li {
  list-style-type: none;
  text-shadow: 2px 2px lightgray;
}
 */

h1 {
  color: sienna;
  text-align: center;
  text-decoration: line-through;
}
div {
  color: crimson;
  border: 1px solid grey;
  margin: 40px;
  font-weight: bold;
}

div p {
  border: inherit;
  margin: inherit;
  padding: 20px;
  color: lightcoral;
}

p {
  color: yellowgreen;
}

a[href$="com"] {
  color: wheat;
  background-color: blueviolet;
  border: 2px solid salmon;
}
